#container{
    border: none;
}

.canva {
    background-color: rgba(64, 64, 64, 1);
    border: solid;
    border-width: 1px;
    border-color: black;
}

.spread {
    background-color: rgba(96, 96, 96, 1);
    border: solid;
    border-width: 1px;
    border-color: black;
}

.page {
    background-color: rgba(255, 255, 255, 1);
    border: solid;
    border-width: 1px;
    border-color: black;
}

.frame {
    background-color: inherit;
    border: solid;
    border-width: 1px;
    border-color: rgba(79, 153, 255, 1);

}

.innerpage {
    background-color: inherit;
    border: solid;
    border-width: 1px;
    border-top-color: rgba(255, 79, 255, 1);
    border-bottom-color: rgba(255, 79, 255, 1);
    border-left-color: rgba(153, 51, 255, 1);
    border-right-color: rgba(153, 51, 255, 1);
}
